/* Kanban Layout */
.kanban-content {
  display: flex;
  gap: 20px; /* Space between columns */
  padding: 10px 0;
  overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
}

.column {
  flex: 1;
  max-width: 20%;
  min-width: 150px;
  /* background: #f5f5f5; */
  padding: 10px;
  border-radius: 8px;
  /* border: 1px solid #ddd; */
  box-sizing: border-box;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.column-subheader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.column-title {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.ticket-count {
  font-size: 0.85rem;
  color: #666;
}

.add-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.menu-dots {
  font-size: 1.2rem;
  color: #666;
  cursor: pointer;
}

.column-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.empty-column {
  text-align: center;
  color: #999;
  font-size: 0.9rem;
}

/* No Priority Icon */
.no-priority-icon {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 15px;
}

/* Urgent Icon */
.urgent-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: #e76903; /* Red background */
  color: #fff; /* White text */
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px; /* Rounded rectangle */
}

/* Graph Icon */
.graph-icon {
  display: flex;
  gap: 2px; /* Space between bars */
}

.bar {
  width: 4px;
  background: #ddd;
}

.bar.high {
  height: 12px;
}

.bar.medium {
  margin-top: 4px;
  height: 8px;
}

.bar.low {
  height: 4px;
  margin-top: 8px;
}

.filled {
  background: #333; /* Dark grey for filled bars */
}
